/* ## Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: $white;
	border: 1px solid $border;
	color: $body-text-color;
	font-size: 18px;
	font-weight: 300;
	padding: 16px;
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid $border-hover;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: $body-text-color;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: $body-text-color;
	font-weight: 300;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: $primary-color;
	border: none;
	color: $white;
	cursor: pointer;
	font-size: 16px;
	font-weight: 300;
	padding: 16px 24px;
	text-transform: uppercase;
	width: auto;
        .footer-widgets & {
	        background-color: $accent-color;
	        color: $white;
        }
        &:hover {
            background-color: $accent-color;
	        color: $white;
        }
        .footer-widgets &:hover {
            background-color: $white;
            color: $primary-color;
        }
}

.button {
	display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}