/* ## Typographical Elements
--------------------------------------------- */

body {
	background-color: $body-background-color; 
	color: $body-text-color;
	font-family: $main-font-stack;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.625;
	margin: 0;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

::-moz-selection {
	background-color: $primary-color;
	color: $white;
}

::selection {
	background-color: $primary-color;
	color: $white;
}

a {
	color: $link-color;
	text-decoration: none;
        &:hover {
        color: $link-hover-color;
    }
}

p {
	margin: 0 0 28px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 40px;
        &::before {
        content: "\201C";
        display: block;
        font-size: 30px;
        height: 0;
        left: -20px;
        position: relative;
        top: -10px;
    }
}