/* ## Column Widths and Positions
--------------------------------------------- */

/* ### Wrapping div for .content and .sidebar-primary */
.content-sidebar-wrap {
    .content-sidebar-sidebar &,
    .sidebar-content-sidebar &,
    .sidebar-sidebar-content & {
	    width: 980px;
    }
    .content-sidebar-sidebar & {
	    float: left;
    }
    .sidebar-content-sidebar &,
    .sidebar-sidebar-content & {
        float: right;
    }
}

/* ### Content */

.content {
	float: right;
	width: 800px;
    .content-sidebar &,
    .content-sidebar-sidebar &,
    .sidebar-content-sidebar & {
        float: left;
    }
    .content-sidebar-sidebar &,
    .sidebar-content-sidebar &,
    .sidebar-sidebar-content & {
        width: 580px;
    }
    .full-width-content & {
        width: 100%;
    }
}

/* ### Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 360px;
    .sidebar-content &,
    .sidebar-sidebar-content & {
        float: left;
    }
}
    
/* ### Secondary Sidebar */

.sidebar-secondary {
	float: left;
	width: 180px;
    .content-sidebar-sidebar & {
        float: right;
    }
}